.footer {
  width: 960px;
  margin: 0 auto;
  height: 100px;
position : relative;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}


.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }


  .footer ul li a {
    margin: 5px 15px;
  }

  .youtube {
    color: #eb3223;
    margin: 5px 15px;
  }
  
  .facebook {
    color: #4968ad;
    margin: 5px 15px;
  }
  
  .twitter {
    color: #49a1eb;
    margin: 5px 15px;
  }
  
  .instagram {
    color: #eee;
    margin: 5px 15px;
  }

  footer .borderline{
    width: 100%
  
  }





  


@media (max-width: 992px) {

}

@media (max-width: 768px) {
 

}

@media (max-width: 600px) {

}

@media (max-width: 480px) {

  /* .footer ul li a {
    margin: 0px 5px;
  }
  .footer{
    width: 100%;
    margin: 0 0;
  } */

  .footer{
    display:none
  }

}


